.title {
  text-align: center;
  vertical-align: center;
  font-size: 40px;
  color: white;
  background-image: linear-gradient(to right, #74307A, #245726);
  padding-top: 0px;
  margin-top: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form {
  font-size: 20pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #DEDEDE;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  width: 170px;
  text-align: center;
  margin-left: 500px;
}
/* .c1 {
  background-image: linear-gradient(to right, #74307A, #245726);
  opacity: 0.85;
} */
.container {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  height: 500px;
  width: 400px;
  align-items: center;
  margin-left: 500px;
  margin-top: 70px;
  background-color: #DEDEDE;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.c1 {
  /* margin-top: 200px; */
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  align-items: center;
  background-image: linear-gradient(to right, #74307A, #245726);
  opacity: 0.85;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 1450px;
  height: 900px;
}
.App {
  background-image: linear-gradient(to right, #74307A, #245726);
  opacity: 0.85;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.btn {
  align-self: center;
  font-size: 20pt;
  background-color: #DEDEDE;
  color: #DEDEDE;
  text-align: center;
  /* margin-bottom: 100px; */
  /* margin-left: 125px; */
  font-weight: bold;
  border-radius: 12px;
  border-color: black;
  padding: 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.foot {
  color: white;
  background-image: linear-gradient(to right, #74307A, #245726);
  opacity: 0.85;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 100px;
  font-size: 20pt;
  vertical-align: 100px;
}
.countselected {
  text-align: center;
  background-color: #DEDEDE;
  margin-top: 90px;
  margin-left: 400px;
  font-size: 20pt;
  border-radius: 20px;
}